@model eDoc_Core.Models.Entities.TypeDocument

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Tạo loại tài liệu</h2>
@using (Html.BeginForm())
{

    <div class="form-horizontal control-group">
        <h4>Loại tài liệu</h4>
        <hr />
        <div class="form-group">
            <label> Xem danh sách template </label><a style="color:red;font-weight:bold;" href="/ApproveProcess">Tại đây</a>
            <label for="template">Chọn mẫu quy trình </label><br />
            @Html.DropDownList("approveProcessId", ViewBag.ApproveProcess as List<SelectListItem>, new { @class = "form-control" })
        </div>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            @Html.ActionLink("Quay lại", "Index", "TypeDocuments", null, new { @class = "btn btn-primary" })
        </div>
        <div class="col-md-8">
        </div>
        <div class="col-md-2">
            <input type="submit" value="Thêm mới" class="btn btn-success" />
        </div>
    </div>
}

